* {
  margin: 0;
  padding: 0;
  font-family: Arial;
}

body {
  background: #0d0d0d;
  color: white;
}

nav {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  background: black;
}

nav h2 span {
  color: #00ff99;
}

nav ul {
  display: flex;
  gap: 20px;
  list-style: none;
}

nav a {
  color: white;
  text-decoration: none;
}

.home {
  text-align: center;
  margin-top: 100px;
}

.home span {
  color: #00ff99;
}

.btn {
  display: inline-block;
  margin-top: 20px;
  padding: 10px 20px;
  background: #00ff99;
  color: black;
  text-decoration: none;
}

.projects {
  text-align: center;
  margin-top: 100px;
}

.card {
  background: #1a1a1a;
  margin: 20px auto;
  padding: 20px;
  width: 250px;
  border: 1px solid #00ff99;
}

.contact {
  text-align: center;
  margin-top: 100px;
}

